# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# IntelliJ / PyCharm
# ==========================
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Flask
# ==========================
instance/

# ==========================
# Local Databases
# (Ignore only SQLite files)
# ==========================
*.db
*.sqlite3