<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Failure Detection</title>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommendation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analytics.css') }}">
</head>

<body>

<div class="layout">

    <aside class="sidebar">

        <h2>Smart Failure Detection</h2>

        <nav>

            <a href="/"
                class="{% if request.path == '/' %}active{% endif %}">
                Project Input
            </a>

            <a href="/risk"
                class="{% if request.path == '/risk' %}active{% endif %}">
                Risk Assessment
            </a>

            <a href="/recommendation"
                class="{% if request.path == '/recommendation' %}active{% endif %}">
                Recommendations
            </a>

            <a href="/market"
                class="{% if request.path == '/market' %}active{% endif %}">
                Market Intelligence
            </a>

            <a href="/decision-simulator"
                class="{% if request.path == '/decision-simulator' %}active{% endif %}">
                AI Decision Simulator
            </a>
            <a href="/report"
                class="{% if request.path == '/report' %}active{% endif %}">
                Executive Report
            </a>

        </nav>

    </aside>

    <main class="content">

        {% block content %}
        {% endblock %}

    </main>

</div>
<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
</body>

</html>
